<!DOCTYPE>
<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="https://i.pinimg.com/originals/19/95/0c/19950c83ac1f0a4ca85819338e5f2a03.png">
		<!-- import the webpage's stylesheet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/home.css"/>
		<!-- import the webpage's client-side javascript file -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>Welcome to Your Site</title>
	</head>
	<body>
		<div>
			Hi there! Make me into something cool!
		</div>
	</body>
</html>
